<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	<div class="container">

		{{ partial "header.html" . }}

		<div id="content">

			<div class="info">
				
				The Bhagavad Gita manuscript is found in the sixth book of the Mahabharata manuscripts – the Bhisma-parvan. Therein, in the third section, the Gita forms chapters <b>23–40</b>, that is <b>6.3.23 to 6.3.40.</b> The Bhagavad Gita is often preserved and studied on its own, as an independent text with its chapters renumbered from <b>1 to 18.</b>
			</div>

			<div class="directory"> 
					{{ range .Pages.GroupByParam "chapter" "asc"}}
						<h3>CHAPTER {{ .Key }}</h3>
						<div class="idx">
						{{ range .Pages.ByParam "sutra"}}
							<div class="items">
								<h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
							</div>
						{{ end }}
						</div>
					{{ end }}
				 
			</div>
			 
		</div>
		
		{{ partial "footer.html" . }}

	</div>
	<script src="{{ .Site.BaseURL }}js/main.js"></script>
	{{ partial "analytics.html" . }}

</body>

</html>