*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: ArialMT,Helvetica Neue,Arial,Liberation Sans,FreeSans,sans-serif;
}
a:link, a:visited {
    text-decoration: none;
}
.header{
	transition: transform .2s ease-out;
	border-bottom: 1px solid #ddd;
    height: 70px;
    padding: 12.5px 16px;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.site-title{
	margin: 0 auto;
}
.site-title a{
	line-height: inherit;
    text-decoration: none;
}

#content{
	margin: 0 auto;
    width: 83.33333%;
}

h2{
	margin: 10px 0;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  margin:20px;
  padding:10px;
  background: #f7f7f0;
}
.circle-buttons {
    background-color: #fff;
    z-index: 5;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.23);
}
.idx { 
    
    overflow: auto;
}
.idx .items {
    padding: 5px;
    border: 1px dotted;
    width: 100px;
    height: 50px;
    float: left;
    text-align: center;
}
.footer{
    padding: 12.5px 16px;
     
    border-top: 1px solid #ddd;
    background-color: #fff;
    z-index: 51!important;
     
    left: 0;
    right: 0;
    bottom: 0px;
    height:70px;
    width: 100%;
    z-index: 99;
     
    position: fixed;
    transition: transform .2s ease-out;
}
.directory h3{
    margin-top: 10px;
    margin-bottom: 10px;
}