* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    line-height: 2em;
}

a:link,
a:visited {
    text-decoration: none;
    color: #800000;
}

.header {
    transition: transform .2s ease-out;
    border-bottom: 1px solid #ddd;
    height: 70px;
    padding: 12.5px 16px;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.site-title {
    margin: 0 auto;
}

.site-title a {
    line-height: inherit;
    text-decoration: none;
}

#content {
    margin: 0 auto;
    width: 83.33333%;
}

h2 {
    margin: 20px 10px;
    padding: 10px;
}

h3 {
    margin: 10px 20px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    margin: 20px;
    padding: 10px;
    background: #f7f7f0;
}

code {
    font-family: inherit !important;
    font-size: larger !important;
    line-height: inherit !important;
    display: block;
    text-align: center;
    white-space: normal;
}

.circle-buttons {
    background-color: #fff;
    z-index: 5;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .23);
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
}

.circle-buttons:hover {
    background: #dedede;
}

.reader-arrow {
    margin: auto;
}

.prev-arrow {
    position: fixed;
    left: 20px;
    top: 50%;
    margin-top: -25px;
}

.next-arrow {
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -25px;
}

@media screen and (min-width: 200px) and (max-width: 700px) {


    .prev-arrow,
    .next-arrow {
        top: 85%;
    }



}

.idx {

    overflow: auto;
}

.idx .items {
    padding: 5px;
    border: 1px dotted;
    width: 100px;
    height: 30px;
    float: left;
    text-align: center;
}

.footer {

    display: block;
    height: 200px;


}

.directory h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-title {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

/* The side navigation menu */
#sidenav {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #fff; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
   
  #sidenav a {
    padding: 0px 12px;
    text-decoration: none;
    font-size: inherit;
    display: block;
    transition: 0.3s;
  }
  
   
  #sidenav a:hover {
    color: #000000;
  }
  
   
  #sidenav .closebtn {
    position: absolute;
    top: 20px;
    left: 30px;
  }
  
  #sidenav a.current{
      background: #d4d4d4 !important;
  }
   
  #content {
    transition:  .5s;
  }
  
   
  @media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 18px;}
  }

 /*Burger menu */
  .burger {
    margin-top: -70px; 
    margin-left: 20px; 
    margin-bottom: 70px; 
    cursor: pointer;
    width: 35px;
    clear: both;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }



 /*
    ACCORDION
 */
  .accordion {
    background-color: #f7f7f0;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .accordion.active, .accordion:hover {
    background-color: #d1d189;
  }
  .accordion i{
    transition: 0.5s;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  .accordion.active i{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
     
  }
  #foot-img{
    display: flex;
  justify-content: center;
   
  }
  #foot-img img{
    
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px;
  }

  .accordion i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
  }
   